.difficulty-buttons {
  margin-bottom: 30px;
}

.submit-button {
  text-align: center;
}

.difficulty{
  padding-bottom: 52px;
  text-align: center;
}

#answer-well-medium{
  display: none;
}

#answer-well-hard{
  display: none;
}

#player-win-well {
  display: none;
}

#player-lose-well {
  display: none;
}



/*
button {
  min-width: 50px;
  height: 30px;
}*/
