.jumbotron {
  font-family: blade-runner;
}

.pulse-green {
  animation: green 4s infinite;
}

@keyframes green {
  0% {
    background-color: white;
  }
  65% {
    background-color: #91E778;
    opacity: 0.6;
  }
  100% {
    background-color: white;
  }
}

.pulse-yellow {
  animation: yellow 4s infinite;

}

@keyframes yellow {
  0% {
    background-color: white;
  }
  65% {
    background-color: #F9E597;
    opacity: 0.6;
  }
  100% {
    background-color: white;
  }
}

.pulse-red {
  animation: red 4s infinite;

}

@keyframes red {
  0% {
    background-color: white;
  }
  65% {
    background-color: #8D3A38;
    opacity: 0.6;
  }
  100% {
    background-color: white;
  }
}

.difficulty-buttons {
  margin-bottom: 30px;
}

.submit-button {
  text-align: center;
}

.difficulty{
  padding-bottom: 52px;
  text-align: center;
}

#answer-well-medium{
  display: none;
}

#answer-well-hard{
  display: none;
}

#player-win-game-well {
  display: none;
}

#player-lose-game-well {
  display: none;
}

#player-win-round-well {
  display: none;
}

#player-lose-round-well {
  display: none;
}

#new-game-button {
  text-align: center;
};
